<html>
<body>
    <section>
            <div class="card">
                <div class="left-container">
                  <div id="img"></div>
                  <h2>{{ doctor.name }}</h2>
                 
                </div>
                <div class="right-container">
                  <h1>Profile Details</h1>
                  <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{ doctor.name }}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                            <td>{{ doctor.age }}</td>
                        </tr>
                        <tr>
                            <td>YearOfExperience</td>
                            <td>:</td>
                            <td>{{ doctor.yearOfExperience }}</td>
                        </tr>
                        <tr>
                            <td>Contact Number</td>
                            <td>:</td>
                            <td>{{ doctor.contactNumber }}</td>
                        </tr>
                        <tr>
                            <td>Doctor Code</td>
                            <td>:</td>
                            <td>{{ doctor.doctorCode }}</td>
                        </tr>
                  </table>

                </div>
        </div>
    </section>
      
</body>
</html>