<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div container>
    <div class="service-wrapper">
        <div class="service">
            <h1>Our Services</h1>
            <div class="container-fluid">
                <div class="header">
             <div class="about">
              <p>
                Regular physical activity is one of the most important things<br> you can do for your health. Being physically active can improve <br>your brain health,
                 help manage weight, reduce the risk of disease,<br> strengthen bones and  muscles, and improve your <br>ability to do everyday activities.</p>
                </div>      
                </div>
            </div>
            <div class="cards">
                <div class="card">
                   <img src="../../../assets/dumbell.jpeg" alt="">
                   <p>A dumbbell is a short bar with weights on either<br> side which people use for physical exercise to <br>strengthen their arm and shoulder muscles.</p>
            </div>
                <div class="card">
                    <img src="../../../assets/elliptical.jpeg" alt="">
                    <p>Elliptical galaxies have shapes that range from completely round to oval.</p>
                 </div>
                 <div class="card">
                    <img src="../../../assets/threadmill.jpeg" alt="">
                    <p>The treadmill allows a user to walk or run in <br>place on the machine on a belt that moves<br> underneaths the feet in a continuous loop</p>
                 </div>
                 <div class="card">
                    <img src="../../../assets/kettlebell.jpeg" alt="">
                    <p>Kettlebells can be made from cast iron or steel.</p>
                 </div>
                 <div class="card">
                    <img src="../../../assets/rowing.jpeg" alt="">
                     <p>Kettlebells can be made from cast iron or steel. Cast iron is expensive</p>
                 </div>
                 <div class="card">
                    <img src="../../../assets/punching.jpeg" alt="">
                     <p> The design of a punching bag allows it to <br>take repeated without breaking.</p>
                 </div>
            </div>

        </div>

    </div>

</div>




















<!-- hi -->


<main>
        <section class="traning-categories black-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="single-topic text-center mb-30">
                            <div class="topic-content-box">
                                <div class="topic-content">
                                    <h3>Personal traning</h3>
                                    <p>You’ll look at graphs and charts in Task One, how to approach the task and <br> the language needed for a successful answer.</p>
                                    <a href="courses.html" class="border-btn">View Courses</a>
                                </div>
                            </div>
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3>Group traning</h3>
                                        <p>You’ll look at graphs and charts in Task One, how to approach the task and <br> the language needed for a successful answer.</p>
                                        <a href="courses.html" class="btn">View Courses</a>
                                    </div>
                                </div>
                             </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="footer">
    <div class="col-1">
      <h3>USEFUL LINKS</h3>
      <a href="/about">About</a>
      <a href="/services">Services</a>
      <a href="/membership">Membership</a>
      <a href="/contact">Contact Us</a>
      <a href="/login">login</a>
    </div>
    <div class="col-2">
      <h3>NEWSLETTER</h3>
      <form action="">
        <input type="email" placeholder="Enter your email"  style="text-align: center;" required><br>
        <button type="submit">SUBSCRIBE NOW</button>
      </form>
    </div>
    <div class="col-2">
      <h3>CONTACT</h3>
     <p>123,XYZ Road, BSK 3 <br>Bangalore,Karnataka,India</p>
     <div class="social-icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-snapchat"></i>
  
     </div>
    </div>
  
  </div>