<html>
<body>
    <section>
            <div class="card">
                <div class="left-container">
                  <div id="img"></div>
                  <h2>{{ trainer.name }}</h2>
                  
                </div>
                <div class="right-container">
                  <h1>Profile Details</h1>
                  <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{ trainer.name }}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                            <td>{{ trainer.age }}</td>
                        </tr>
                        <tr>
                            <td>Year Of Experience</td>
                            <td>:</td>
                            <td>{{ trainer.yearOfExperience }}</td>
                        </tr>
                        <tr>
                            <td>Contact Number</td>
                            <td>:</td>
                            <td>{{ trainer.contactNumber }}</td>
                        </tr>
                        <tr>
                            <td>ShiftTimings</td>
                            <td>:</td>
                            <td>{{ trainer.shiftTimings }}</td>
                        </tr>
                        <tr>
                            <td>Trainer Code</td>
                            <td>:</td>
                            <td>{{ trainer.trainerCode }}</td>
                        </tr>
                  </table>

                </div>
        </div>
    </section>
      
</body>
</html>