<div class="con">
  <div class="container mt-2">
      <h1>Track Your Classes</h1>
      <div class="class-table mt-4">
        <div class="table-dark">
          <div class="table-header-row">
            <div>ClassName</div>
            <div>Date</div>
            <div>Enrolled</div>
            <div>Duration</div>
          </div>
        </div>
        <div class="tbody">
          <div *ngFor="let classes of classList" class="class-row">
            <div>{{ classes.className }}</div>
            <div>{{ classes.date }}</div>
            <div>{{ classes.enrolled }}</div>
            <div>{{ classes.duration }}</div>
          </div>
        </div>
    </div>
  </div>
</div>
