<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="container-fluid">
  <div class="header">
    <h1>ABOUT US<br>________________________</h1>
    <div class="about">
      <p>Our goal is to make health and fitness attainable, affordable and approachable.<br>We believe fitness should be
        accessible to everyone, everywhere,
        regardless of income<br> level or access to a gym. That's why we offer hundreds of free, full-length workout
        images, the <br>
        most affordable and effective workout programs on the web, meal plans,<br> and helpful health, nutrition and
        fitness information.</p>
    </div>
  </div>
  <section class="info-panel feature-image-grid">
    <div><img src="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-01.jpg"
        srcset="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-01.jpg 1x, https://d18zdz9g6n5za7.cloudfront.net/about/gallery-01@2X.jpg 2x"
        alt="" width="32.5%">
      <img src="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-02.jpg"
        srcset="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-02.jpg 1x, https://d18zdz9g6n5za7.cloudfront.net/about/gallery-02@2X.jpg 2x"
        alt="" width="32.5%">
      <img src="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-03.jpg"
        srcset="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-03.jpg 1x, https://d18zdz9g6n5za7.cloudfront.net/about/gallery-03@2X.jpg 2x"
        alt="" width="32.5%">
    </div>
    <div> <img src="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-04.jpg"
        srcset="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-04.jpg 1x, https://d18zdz9g6n5za7.cloudfront.net/about/gallery-04@2X.jpg 2x"
        alt="" class="anchor-top" width="32.5%%">
      <img src="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-05.jpg"
        srcset="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-05.jpg 1x, https://d18zdz9g6n5za7.cloudfront.net/about/gallery-05@2X.jpg 2x"
        alt="" class="anchor-top" width="32.5%%">
      <img src="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-06.jpg"
        srcset="https://d18zdz9g6n5za7.cloudfront.net/about/gallery-06.jpg 1x, https://d18zdz9g6n5za7.cloudfront.net/about/gallery-06@2X.jpg 2x"
        alt="" width="32.5%%">
    </div>
  </section>

</div>
<div class="footer">
  <div class="col-1">
    <h3>USEFUL LINKS</h3>
    <a href="/about">About</a>
    <a href="/services">Services</a>
    <a href="/membership">Membership</a>
    <a href="/contact">Contact Us</a>
    <a href="/login">login</a>
  </div>
  <div class="col-2">
    <h3 id="news">NEWS LETTER</h3>
    <form action="">
      <input type="email" placeholder="Enter your email" style="text-align: center;" required><br>
      <button type="submit">SUBSCRIBE NOW</button>
    </form>
  </div>
  <div class="col-2">
    <h3 id="contact">CONTACT</h3>
    <p>123,XYZ Road, BSK 3 <br>Bangalore,Karnataka,India</p>
    <div class="social-icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-snapchat"></i>

    </div>
  </div>

</div>