<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="container-fluid" class="con">

   
    <div class="navbar">
      <ul>
        
       
        <!-- <li class="profile"></li> -->
        <li><a routerLink="userpro" class="user">USER</a></li> 
        <li><a routerLink="homeuser" class="home"><i class="fa-solid fa-house"></i> Home</a></li>
        
        <li><a routerLink="store" class="store"><i class="fa-solid fa-store"></i> Store</a></li>
        <li><a routerLink="workouts" class="plans"> <i class="fa-solid fa-dumbbell"></i> Workouts</a></li>
        <li><a routerLink="more" class="more"><i class="fa-solid fa-ellipsis-vertical"></i> More</a></li>
      </ul>
    </div>
  </div>
  
    <section>
      <router-outlet></router-outlet>
    </section>



