<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="container-fluid" id="con">
  <div class="navbar">
    <div class="horinav"></div>
    <ul>
      <li id="profile"></li>
      <li><a routerLink="admin" class="admin">ADMIN</a></li>
      <li><a routerLink="users" class="user"> <i class="fa-solid fa-user"></i> Users</a></li>
      <li><a routerLink="doctors" class="doctor"><i class="fa-solid fa-user-doctor"></i> Doctors</a></li>
      <li><a routerLink="trainers" class="trainer"><i class="fa-solid fa-users"></i> Trainers</a></li>
      <li><a routerLink="equipment" class="equipment"><i class="fa-solid fa-dumbbell"></i> Equipments</a></li>
      <li><a routerLink="membership" class="membership"><i class="fa-solid fa-user-plus"></i> Memberships</a></li>
    </ul>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>