<div class=" container">
  <h1>New Trackers</h1>
    <ul class=" bar">
      
      <button id="b2"><li><a routerLink="fetch-classes" routerLinkActive="active"><i class="fas fa-walking"></i>  Classes</a></li></button>
      <button id="b3"><li><a routerLink="fetch-progress" routerLinkActive="active"> <i class="fa-solid fa-bars-progress"></i>  Progress</a></li></button>
      <button id="b4"><li><a routerLink="fetch-exercise" routerLinkActive="active"><i class="fa-solid fa-dumbbell"></i> Exercise</a></li></button>
      <button id="b5"><li><a routerLink="fetch-attendance" routerLinkActive="active"> <i class="fa-solid fa-clipboard-user"></i>  Attendance</a></li></button>
      <button id="b6"><li><a routerLink="fetch-nutrition" routerLinkActive="active"><i class="fa-solid fa-notes-medical"></i>   Health Logs</a></li></button>
      <!-- <button id="b7"><li><a routerLink="fetch-payments" routerLinkActive="active"><i class="fa-solid fa-notes-medical"></i>  Payments</a></li></button> -->
      
    
    </ul>
</div>
  <router-outlet></router-outlet>